/* for lee's components */
.init-page {
  background-image: url("./src/images/Heroes.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}
.init-page-header {
  color: #ED1C24;
}
.dropdown {
  color: #FFFFFF;
  padding-bottom: 25px;
}
/* for jenna's search.js */
.searchContainer {
  background-image: url("./src/images/search_batman.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.paddingTop {
  padding-top: 100px;
}
.button {
  float: right;
}
.header {
  color: orange;
  text-align: center;
}
.activityText {
  color: white;
}

.profileContainer{
  background-image: url("./src/images/dark_knight.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
