/* for lee's components */

html{
  height: 100%;
}
.init-page {
  background-image: url("./src/images/Heroes.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}
.init-page-header {
  color: #ED1C24;
}
.dropdown {
  color: #FFFFFF;
  padding-bottom: 25px;
}
/* for jenna's search.js */
.searchContainer {
  background-image: url("./src/images/search_batman.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.paddingTop {
  padding-top: 100px;
}
.button {
  float: right;
}
.header {
  color: orange;
  text-align: center;
}
.activityText {
  color: white;
}

/*JB's css*/
.profileContainer{
  background-image: url("./src/images/dark_knight.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Welcome{
  display: inline-block;
  float: right;
  color: white;
}

.Customize{
  display: inline-block;
  float: right;
  color: white;
}
.profileHead{
  display: inline-block;
  color: white;
}

.savedActivities, td, th {
  margin: center;
  color: white;
  background-color: transparent;
  border: 2px transparent;
  padding: 5px;
}


.tableContainer{
  height: 800px;
  width: 800px;
}
