/* for lee's components */
body {
  background-color: black;
}
.link{
  color: #F2671F;
}
.link:hover {
  color: white;
}
.frontpage-button {
  background-color: #160A47;
}
.init-page {
  background-image: url("./src/images/Heroes.jpg");
  width: 1275px;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}
.init-page-header {
  color: #F7FF3F;
}
.dropdown {
  color: #FFFFFF;
  padding-bottom: 25px;
}
.nav {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.nav li {
  width: 300px;
  background-color: black;
  border: 1px solid purple;
  text-align: center;
  float: left;
  margin: 10px 25px 0px 75px;
}
.nav li a:hover {
  background-color: red;
}
.nav li ul li {
  text-align: center;
}
.super-button {
  margin-top: 15px;
}

/* for jenna's search.js */
.searchContainer {
  background-image: url("./src/images/search_batman.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.paddingTop {
  padding-top: 100px;
}
.button {
  float: right;
}
.header {
  color: orange;
  text-align: center;
}
.activityText {
  color: blue;
}
.paragraphText {
  color: white;
}
