/********************************
      Global Elements
*********************************/

body {
  background-image: url('character-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%; /* offset, for image-specific focal point */
  height: 100vh;
}

@font-face {
    font-family: FightClub;
    src: url(Fightt3_.ttf);
}

/* remove default <ul> list styles */
.unstyled-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/********************************
      Character Grid
*********************************/


.character-name {
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.character-div {
  width: 60%;
  height: 310px;
  text-align: center;
  margin-top: 5vh;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  position: relative;
}

.character-space {
  width: 500px;
}

.character-img-size {
  width: 20%;
}

.character-thumbnail {
  width: 20%;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -o-transition: all 0.5s ease; /* IE 9 */
  -ms-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
  box-shadow: 0px 0px 20px #fff;
}
.character-thumbnail:hover {
  box-shadow: 0px 0px 0px;
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
  transform:scale(1.15);
}

.character-thumbnail:hover {
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
  transform:scale(1.15);
}

.character-thumbnail-clicked {
  box-shadow: 0px 0px 5px #fff;
}

.character-img-size {
  width: 140px;

}

.character-name {
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.select-character {
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
}

/********************************
      Character Attributes
*********************************/

.attributes-div {
  height: 274px;
  display: inline-block;
  color: #ffffff;
}

.attributes-pic {
  width: 100px;
}

.attribute-font {
  color: #ffffff;
}

.attributes-pic {
  width: 100px;
}

/********************************
         Title
*********************************/

.title {
  font-size: 90px;
  color: #ffffff;
  text-align: center;
  font-family: FightClub;
}

.subtitle {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

/********************************
         Winner Page
*********************************/

.winner {
  background-color: blue;
  background-image: url(/Winner.png);
}

.winner-header {
  text-align: center;
  padding-bottom: 10px;
}
.winner-name {
  font-weight: bold;
  font-size: 24px;
}


/********************************
         Upgrade Page
*********************************/

.activity-list li {
  margin-top: 16px;
}

.activity-image {
  height: 200px;
  margin-bottom: 8px;
  background-color: rgba(0,0,255,0.5);
}

.upgrade .attributes {
  max-height: 200px;
}

