/********************************
      Global Elements
*********************************/

body {
  background-image: url('character-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%; /* offset, for image-specific focal point */
  height: 100vh;
}

/* remove default <ul> list styles */
.unstyled-list {
  padding: 0;
  margin: 0;
  list-style: none;
}


/********************************
      Character Grid
*********************************/

.character-div {
	width: 60%;
	height: 310px;
	text-align: center;
	margin-top: 5vh;
	padding: 20px;
  	margin: 0 auto;
  	background-color: rgba(0, 0, 0, .3);
  	border-radius: 10px;
  	top: 18%;
  	position: relative;

}

.character-space {
	width: 500px;
}

.character-img-size {
	width: 20%;
}


/********************************
      Character Attributes
*********************************/

.attributes-div {
	height: 274px;
	display: inline-block;
}

.attributes-box {
	text-align: right;
	width: 500px;
	height: 400px;
	text-align: center;
	padding: 20px;
  	margin: 0 auto;
  	background-color: rgba(0, 0, 0, .3);
  	border-radius: 10px;
  	position: relative;
  	color: #ffffff;

}

.attributes-pic {
	width: 100px;
}


/********************************
         Winner Page
*********************************/

.winner {
  background-color: blue;
  background-image: url(/Winner.png);
}

.winner-header {
  text-align: center;
  padding-bottom: 10px;
}
.winner-name {
  font-weight: bold;
  font-size: 24px;
}


/********************************
         Upgrade Page
*********************************/

.activity-list li {
  margin-top: 16px;
}

.activity-image {
  height: 200px;
  margin-bottom: 8px;
  background-color: rgba(0,0,255,0.5);
}

.upgrade .attributes {
  max-height: 200px;
}