.character-name {
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.character-div {
	width: 60%;
	height: 310px;
	text-align: center;
	margin-top: 5vh;
	padding: 20px;
  	margin: 0 auto;
  	background-color: rgba(0, 0, 0, .3);
  	border-radius: 10px;
  	position: relative;

}

.character-img-size {
	width: 140px;

}

.select-character {
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
}

.attributes-div {
	height: 274px;
	display: inline-block;
	color: #ffffff;
}

.attributes-box {
	text-align: right;
	width: 500px;
	height: 400px;
	text-align: center;
	padding: 20px;
  	margin: 0 auto;
  	background-color: #ffffff;
  	border-radius: 10px;
  	position: relative;
  	color: #ffffff;
}

.attributes-pic {
	width: 100px;
}

.attribute-font {
	color: #ffffff;
}

body {
  background-image: url('character-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%; /* offset, for image-specific focal point */
  height: 100vh;
}

.title {
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.winner {
  background-color: blue;
  background-image: url(/Winner.png);
}

.winner-header {
  text-align: center;
  padding-bottom: 10px;
}
.winner-name {
  font-weight: bold;
  font-size: 24px;
}